body {
  background-color: rgb(251, 251, 223);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5px auto;
}

h1 {
  color: rgb(242, 170, 125);
  background-color: rgb(3, 120, 120);
  border-radius: 6px;
  box-shadow: 2px 5px 2px black;
  width: 200px;
  margin: auto;
  text-align: right;
  padding-right: 4px;
}

h2 {
  font-size: 18 px;
  color: rgb(218, 40, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-radius: 0 0 3px 0;
  box-shadow: 2px 2px 2px black;
  padding-right: 3px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -3px;
}

.headline{ 
  width: fit-content;
  margin: auto auto 7px auto;
  text-align: center;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-radius: 0 0 3px 0;
  box-shadow: 2px 2px 2px black;
  padding-right: 3px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.counter {
  position: absolute;
  height: 52px;
  text-decoration: underline;
  padding: auto 20px auto 6px;
}

.counter.home {
  border-radius: 0 5px 0 0;
}

.progress {
  position: relative;
  width: 550px;
  height: 52px;
  margin: 0 auto 20px auto;
  border-bottom: solid 4px black;
  border-right: solid 4px black;
  box-shadow: 3px 4px 5px rgba(173, 162, 162, 0.548);
  border-radius: 5px 5px 0 0;
}

.home {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.points {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.progress > p {
  font-variant: small-caps;
  color: white;
  mix-blend-mode: difference;
}

.progress.home > p {
  font-size: 25px;
  width: fit-content;
  height: 70%;
  text-decoration: underline;
  z-index: 2;
}

.progress.points > p {
  font-size: 25px;
  width: 95%;
  margin: 3% auto;
  text-align: right;
  text-decoration: underline;
  z-index: 2;
}

.enhanced {
  font-size: 1.8rem;
  background-color: rgba(143, 23, 63, 0.671);
  color: rgb(0, 255, 200);
  width: 120%;
  margin-left: -10px;
  border-radius: 2px;
  transform: rotate(-4deg);
}

.squash {
  text-align: right;
  margin-bottom: 2px;
}

.lil {
  font-size: 12px;
  font-style: italic;
}

.today {
 width: max-content;
 margin: auto;
}

.button-lineup {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  justify-content: space-around;
  text-align: center;
}

button {
  border: none;
  background-color: rgb(35, 65, 63);
  font-size: 20px;
  color: white;
  min-height: 35px;
  border-radius: 3px;
  transition: transform 200ms ease-in-out;
}

button:hover {
  box-shadow: 2px 2px 3px black;
  transform: scale(1.1);
}

button:active {
  background-color:rgb(242, 170, 125);
  color: black;
  box-shadow: 3px 3px 4px black;
  transform: scale(.9);
}

.nav-button {
  width: 90px;
  margin: auto;
}

.task-list { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: space-around;
}

.task-item {
  border: solid 3px black;
  margin: 5px 5px;
  padding: auto 10px;
  background-color: black;
  color: antiquewhite;
  border-radius: 5px;
  transition: transform 50ms ease-in-out;
}

.task-item:hover {
  cursor: pointer;
  background-color: rgb(3, 120, 120);
  box-shadow: 4px 3px 2px black;
  transform: scale(1.1);
}

.task-item:active {
  background-color: rgb(242, 170, 125);
  color: black;
  border: solid 3px rgb(40, 52, 4);
  transform: scale(.9);
}

.task-item:hover > img {
  opacity: .3;
}

.task-item:active > img {
  opacity: 1;
}

img {
  width: 45px;
  background-color: white;
  height: 45px;
  border-radius: 4px;
}

.small-image {
  border-radius: 2px;
  margin: 6px auto;
  grid-area: si;
}

.task-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.task-grid-task {
  display: grid;
  grid-template-areas: 
    "si tn tn"
    "si tp tp";
  min-width: 250px;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
}

.task-name {
  grid-area: tn;
  margin-bottom: -5px;
  text-align: right;
}

.task-points {
  grid-area: tp;
  text-align: right;
}

form {
  width: 380px;
  margin: 15px auto;
  border: solid 2px black;
  padding: 5px;
}

.input-editor {
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 7px;
}

label {
  text-align: right;
}

.input-tasks {
  display: grid;
  grid-template-columns: 2fr 7fr;
  column-gap: 10px;
}

form {
  font-size: 0.9em;
}

form > .buttons {
  margin: 6px;
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
}

.destroyer {
  text-align: center;
  width: 330px;
  margin: auto;
}

.grats {
  font-size: 18px;
  width: fit-content;
  margin: 10px auto;
  padding: 2px;
  background-color: rgb(78, 14, 14);
  border-radius: 3px;
  color: white;
}

.spun {
  transform: rotate(-10deg);
  font-size: 22px;
}