body {
  background-color: rgb(251, 251, 223);
}

.title {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5px auto;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(242, 170, 125);
  background-color: rgb(3, 120, 120);
  border-radius: 6px;
  box-shadow: 2px 5px 2px black;
  width: 200px;
  margin: auto;
  text-align: right;
  padding-right: 4px;
}

h2 {
  font-size: 18 px;
  color: rgb(218, 40, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-radius: 0 0 3px 0;
  box-shadow: 2px 2px 2px black;
  padding-right: 3px;
}

.squash {
  text-align: right;
  margin-bottom: 2px;
}

.lil {
  font-size: 12px;
  font-style: italic;
}

.today {
 width: max-content;
 margin: auto;
}

.button-lineup {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  justify-content: space-around;
  text-align: center;
}

.nav-button {
  width: 90px;
  margin: auto;
}